.Button {
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 4px;
  transition: all 0.2s ease;

  &.primary {
    color: var(--primary-font-color);
    background: var(--primary-button-color);
    border: 2px solid var(--primary-button-color);

    &:hover {
      background: var(--secondary-button-color);
    }
  }

  &.secondary {
    color: var(--primary-font-color);
    background: transparent;
    border: 2px solid var(--primary-button-color);

    &:hover {
      color: var(--bg-color);
      background: var(--primary-button-color);
    }
  }

  &.clear {
    padding: 0;

    color: var(--primary-font-color);

    background: none;
    border: none;
    outline: none;

    &:hover {
      opacity: 0.8;
    }
  }
}