.Sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: var(--sidebar-width);
  height: 100vh;

  background: var(--primary-color);

  transition: width 0.3s;

  .linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
