.Sidebar {
  position: relative;
  top: 0;
  left: 0;

  width: var(--sidebar-width);
  height: 100vh;

  background: var(--sidebar-primary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  transition: width 0.3s;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    padding: 15px;

    .toggleButton {
      height: 23px;
      stroke: var(--sidebar-primary-font-color);
    }

    .header {
      margin-left: 30px;
      color: var(--sidebar-primary-font-color);
    }
  }
}
