.Sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;

  .linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
