.app.dark {
  --bg-color: #252525;
  --primary-color: #24484E;
  --secondary-color: #183A40;
  --primary-font-color: #FDFDFD;
  --add-font-color: #929292;
  --primary-input-color: #717171;
  --secondary-input-color: #606060;
  --reserve-input-color: #454545;
  --primary-button-color: #252525;
  --secondary-button-color: #363636;
  --reserve-button-color: #191919;
}
