.app.dark {
  // App
  --primary-font-color: #FDFDFD;
  --bg-color: #252525;

  // Sidebar
  --sidebar-primary-color: #24484E;
  --sidebar-primary-font-color: #FDFDFD;

  // AppLink
  --applink-primary-font-color: #FDFDFD;

  --secondary-color: #183A40;

  --add-font-color: #929292;
  --primary-input-color: #717171;
  --secondary-input-color: #606060;
  --reserve-input-color: #454545;

  // button colors
  --primary-button-color: #40808A;
  --secondary-button-color: #363636;
  --primary-button-font-color: #252525;
  --secondary-button-font-color: #FDFDFD;
  --reserve-button-color: #191919;

    // colors
    --white-color: #F3F1F1;
}
