.app.light {
  --bg-color: #FDFDFD;
  --primary-color: #365B61;
  --secondary-color: #24484E;
  --primary-font-color: #191919;
  --add-font-color: #929292;
  --primary-input-color: #F3F1F1;
  --secondary-input-color: #F3F1F1;
  --reserve-input-color: #F3F1F1;

  // button colors
  --primary-button-color: #40808A;
  --secondary-button-color: #365B61;
  --primary-button-font-color: #F3F1F1;
  --secondary-button-font-color: #365B61;
  --reserve-button-color: #183A40;

  // colors
  --white-color: #F3F1F1;
}
