.Navbar {
  position: fixed;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  width: calc(100% - var(--sidebar-width));
  height: var(--navbar-height);
  margin-left: var(--sidebar-width);
  padding: 20px;
}
