.Navbar {
  width: calc(100% - var(--sidebar-width));
  height: var(--navbar-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-left: var(--sidebar-width);
}
