.AppLink {
  padding: 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 6px;

  &.primary {
    color: white;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
